In [9]:
import pandas as pd

In [39]:
df = pd.read_csv("cats - cats (1).csv")

In [40]:
df.columns

Index(['Unnamed: 0', 'Breed', 'Age (Years)', 'Weight (kg)', 'Weight (lbs)',
       'Color', 'Gender', 'ID'],
      dtype='object')

In [41]:
df.drop(['Unnamed: 0'], inplace=True, axis=1)

In [42]:
df.head()

,Breed,Age (Years),Weight (kg),Weight (lbs),Color,Gender,ID
0,Tabby,3,5,11.0,Orange,Male,167
1,Egyptian Mau,12,7,17.0,White,Male,181
2,Scottish Fold,17,8,17.6,Tortoiseshell,Male,907
3,Sphynx,9,9,19.0,Orange,Male,732
4,Oriental,6,7,17.0,Gray,Female,464

In [38]:
sample_row = df.iloc[99]
print(sample_row)

Breed           Maine Coon
Age (Years)              9
Weight (kg)              5
Color                 Blue
Gender              Female
ID                     590
Weight (lbs)           NaN
Name: 99, dtype: object